* { 
	margin: 0 ; 
	padding: 0; 
	box-sizing: border-box;
}
a { 
	text-decoration: none; 
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tags {
	position: relative;
	width: 500px;
	height: 500px;
}
.tag {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
}
.form {
	width: 200px;
	height: 200px;
	margin-right: 50px;
}
.inp {
	border: none;
	outline: 2px solid #f3f3f3;
	width: 120px;
	height: 30px;
	margin: 5px 20px;
	text-indent: 10px;
}
.btn {
	border: none;
	outline: 1px solid lightgrey;
	width: 120px;
	height: 30px;
	margin: 5px 20px;
	cursor: pointer;
}
.btn:active {
	background-color: lightgreen;
	color: #ffff;
}