<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自定义checkbox， radio样式</title>
	<link rel="stylesheet" type="text/css" href="css/radio.css">
</head>
<body>
	<div class="container">
		<div class="item">
			<h2 class="h2">伪类实现</h2>
			<div class="checkbox_item">
				<input class="checkbox" id="checkbox" type="checkbox" />
				<label for="checkbox"></label>
			</div>
			<div class="radio_item">
				<input class="radio" id="radioBox" type="radio" name="sex"/>
				<label for="radioBox"></label>
				<input class="radio" id="radioBox_1" type="radio" name="sex"/>
				<label for="radioBox_1"></label>
			</div>
		</div>
		<div class="item">
			<h2 class="h2">雪碧图实现</h2>
			<div class="checkbox_item">
				<input class="checkbox_spirit" id="checkbox_spirit" type="checkbox"/>
				<label for="checkbox_spirit"></label>
			</div>
			<div class="radio_item">
				<input class="radio_spirit" id="radio_spirit" type="radio" name="eat"/>
				<label for="radio_spirit"></label>
				<input class="radio_spirit" id="radio_spirit_1" type="radio" name="eat"/>
				<label for="radio_spirit_1"></label>
			</div>
		</div>
	</div>
</body>
</html>