<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>3D标签云</title>
	<link rel="stylesheet" type="text/css" href="css/tagcloud.css">
</head>
<body>
	<div class="container">
		<form class="form" name="form" id="form" action>
		  <input class="inp" type="number" name="speed" value="" placeholder="速度" />
			<input class="inp" type="number" name="count" value="" placeholder="数量" />
			<input class="inp" type="text" name="content" value="" placeholder="内容" />
			<button class="btn" id="btn" type="submit">设置</button>
		</form>
		<div class="tags">
			<a class="tag" href="##">百度</a>
			<a class="tag" href="##">阿里</a>
			<a class="tag" href="##">今日头条</a>
			<a class="tag" href="##">腾讯</a>
			<a class="tag" href="##">美团</a>
			<a class="tag" href="##">滴滴</a>
			<a class="tag" href="##">平安</a>
			<a class="tag" href="##">蘑菇街</a>
			<a class="tag" href="##">支付宝</a>
			<a class="tag" href="##">蚂蚁金服</a>
			<a class="tag" href="##">淘宝</a>
			<a class="tag" href="##">天猫</a>
			<a class="tag" href="##">聚划算</a>
			<a class="tag" href="##">钉钉</a>
			<a class="tag" href="##">QQ</a>
			<a class="tag" href="##">微信</a>
			<a class="tag" href="##">陌陌</a>
			<a class="tag" href="##">斗鱼</a>
			<a class="tag" href="##">携程</a>
			<a class="tag" href="##">去哪儿</a>
			<a class="tag" href="##">优酷</a>
			<a class="tag" href="##">土豆</a>
			<a class="tag" href="##">搜狐</a>
			<a class="tag" href="##">微博</a>
			<a class="tag" href="##">新浪</a>
			<a class="tag" href="##">陆金所</a>
			<a class="tag" href="##">知乎</a>
			<a class="tag" href="##">Stackoverflow</a>
			<a class="tag" href="##">微软</a>
			<a class="tag" href="##">谷歌</a>
			<a class="tag" href="##">Facebook</a>
			<a class="tag" href="##">YouTube</a>
			<a class="tag" href="##">ofo</a>
			<a class="tag" href="##">联想</a>
			<a class="tag" href="##">大众点评</a>
			<a class="tag" href="##">网易</a>
			<a class="tag" href="##">网易云音乐</a>
			<a class="tag" href="##">慕课网</a>
			<a class="tag" href="##">微众银行</a>
			<a class="tag" href="##">网上银行</a>
			<a class="tag" href="##">中国银行</a>
			<a class="tag" href="##">阿里彩票</a>
			<a class="tag" href="##">小米</a>
			<a class="tag" href="##">熊猫TV</a>
			<a class="tag" href="##">腾讯</a>
			<a class="tag" href="##">美团</a>
			<a class="tag" href="##">滴滴</a>
			<a class="tag" href="##">平安</a>
			<a class="tag" href="##">蘑菇街</a>
			<a class="tag" href="##">支付宝</a>
			<a class="tag" href="##">蚂蚁金服</a>
			<a class="tag" href="##">淘宝</a>
			<a class="tag" href="##">天猫</a>
			<a class="tag" href="##">联想</a>
			<a class="tag" href="##">大众点评</a>
			<a class="tag" href="##">网易</a>
			<a class="tag" href="##">网易云音乐</a>
			<a class="tag" href="##">慕课网</a>
			<a class="tag" href="##">微众银行</a>
			<a class="tag" href="##">网上银行</a>
			<a class="tag" href="##">中国银行</a>
			<a class="tag" href="##">阿里彩票</a>
			<a class="tag" href="##">聚划算</a>
			<a class="tag" href="##">钉钉</a>
			<a class="tag" href="##">QQ</a>
			<a class="tag" href="##">微信</a>
			<a class="tag" href="##">陌陌</a>
			<a class="tag" href="##">斗鱼</a>
		</div>
	</div>
	<script type="text/javascript" src="js/tag.js"></script>
</body>
</html>